.transacao{
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 50px;
    border: 2px solid rgb(180, 175, 175);
    border-radius: 6px;
}


/*obrigatoriamente abrir um apos mexer no css
    npm run dev 
no terminal
*/