@import url('https://fonts.googleapis.com/css?family=Numans');

/*Login*/

.formTransacao{
top: 200px;
}

div#transacoes{
  margin-top:5% ;
}

.transacao{
    padding: 1%;
    width: 275px;
    height: 250px;
    display: grid;
    font-size: 0.96rem;
    margin-left: 5px;
    margin-bottom: 10px;
    border: 2px solid rgb(180, 175, 175);
    border-radius: 6px;
}
.transacao .moeda{
  text-align: center;
  font-weight: 700;
}

.inlineContainerleft{
    display: inline;
    float: left;
}

.inlineContainerRight{
    display: inline;
    float: right;
}

.infos{
    margin-bottom: 10px;
}

.container{
height: 100%;
align-content: center;
}

.logoSize{
font-size: medium;
}

.card{
height: 250px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
position: absolute;
top: 350px;
}

.card-transacao{
  height: 250px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
  position: absolute;
  top: 100px;
  right: 100px;
  }

 

.card-register{
  height: 300px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
  position: absolute;
  top: 350px;
}

.card-forgot{
  height: 250px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
  position: absolute;
  top: 350px;
}

.card-forgot1{
  height: 170px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
  position: absolute;
  top: 350px;
}
.card-cot{
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
  position: absolute;
  top: 150px;
}

.cot{
height: 30px !important;
font-size: 0.85rem;
}

.icon{
  height: 40px !important;
}


.card-header h3{
  font-size: large;
  color: white;
  font-weight: 700;
}
input{
  text-transform: lowercase;
}

input::placeholder {
  font: 14px/3 sans-serif;
  text-transform: none;
}

.titulo{
  justify-content: center;
  display: center;
  font-weight: 700;
}

.input-group-prepend span{
width: 30px !important;
background-color: #FFC312;
color: black !important;
border:0 !important;
height: 30px !important;
}

.inputTransacao{
  width: 360px;
}


.fas{
  font-size: small;
}
.fab{
  color: #FFC312;
}
.preto{
  color: #000 !important;
  font-size: small;

}
.form-control{
height: 30px !important;
font-size: 14px !important;

}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
font-size: small;
}

.remember input
{
width: 20px !important;
height: 20px !important;
margin-left: 15px !important;
margin-right: 5px !important;
}

.login_btn{
color: black !important;
background-color: #FFC312 !important;
width: 380px;
height: 32px;
font-size: small !important;
text-align: center  !important;
display: inline-block !important;
padding:.8rem 3rem !important;
border:.2rem solid var(--yellow) !important;
cursor: pointer !important;
font-size: 1.7rem !important;
border-radius: .5rem !important;
position: relative !important;
overflow: hidden !important;
z-index: 0 !important;
margin-top: 1rem !important;
}

.login_btn:hover{
color: white !important;
background-color: black !important;
}

.register_btn{
  color: black !important;
  background-color: #FFC312 !important;
  width: 380px;
  height: 32px;
  font-size: small !important;
  text-align: center  !important;
  display: inline-block !important;
  padding:.8rem 3rem !important;
  border:.2rem solid var(--yellow) !important;
  cursor: pointer !important;
  font-size: 1.7rem !important;
  border-radius: .5rem !important;
  position: relative !important;
  overflow: hidden !important;
  z-index: 0 !important;
  margin-top: 1rem !important;
  }
  
  .register_btn:hover{
  color: white !important;
  background-color: black !important;
  }

.submit-btn{
color: black;
background-color: #FFC312;
border-radius: .5rem !important;
z-index: 0 !important;
border:.2rem solid var(--yellow) !important;
width: 380px !important;
height: 32px !important;
}

.submit-btn:hover{
    color: white;
    background-color: black;
}

.glow-button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #FFC312;
  transition: all 0.4s;
}


.btn_retirada{
  color: black;
  background-color: #FFC312;
  font-size: 1.3rem !important;
  width: 250px;
  border:.2rem solid var(--yellow) !important;
}

.btn_retirada:hover{
  color: white;
  background-color: black;
}


.btn_retirada:hover a{
  color: white;
}

.links{
color: white;
font-size: medium;
}

.links a{
margin-left: 4px;
color:#FFC312;
transition: all 0.4s;
}

.links a:hover{
  color:white;
}

.labelColor{
  color: #FFC312 !important;
  font-weight: 700 !important;
}
.labelColor2{
  color: white !important;
  font-weight: 700 !important;
}

.forgot{
  font-size: small !important;
  color: #FFC312 !important;
  transition: all 0.4s;
  font-weight: 600;
}
.card-footer-register{
  padding: 0;
}

.fonte{
  color: white;
  text-align: center;
}

.datetime{
  color:white;
}

/*Footer*/
.footer{
  background:#000;
  text-align: center;
}

.footer .share{
  display: flex;
  gap:1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .credit{
  padding:2.5rem 1rem;
  color:#fff;
  font-weight: normal;
  font-size: 2rem;
}

.footer .credit span{
  color:var(--yellow);
}

.footer .credit-index{
  padding:2.5rem 1rem;
  color:#fff;
  font-weight: normal;
  font-size: 1.2rem;
}

.footer .credit-index span{
  color:var(--yellow);
}

#scroll-top{
  position: fixed;
  top:-120%;
  right:2rem;
  padding:.5rem 1.5rem;
  font-size: 4rem;
  background:var(--yellow);
  color:#fff;
  border-radius: .5rem;
  transition: 1s linear;
  z-index: 1000;
}

#scroll-top.active{
  top:calc(100% - 12rem)
}

.btnf{
  display: inline-block !important;
  padding:.8rem 3rem !important;
  border:.2rem solid var(--yellow) !important;
  color:var(--white) !important;
  cursor: pointer !important;
  font-size: 1.7rem !important;
  border-radius: .5rem !important;
  position: relative !important;
  overflow: hidden !important;
  z-index: 0 !important;
  margin-top: 1rem !important;
}

.btnf::before{
  content: '' !important;
  position: absolute !important;
  top:0 !important; right: 0 !important;
  width:0% !important;
  height:100% !important;
  background:var(--yellow) !important;
  transition: .3s linear !important;
  z-index: -1 !important;
}

.btnf:hover::before{
  width:100% !important;
  left: 0!important;
}

.btnf:hover{
  color:#000 !important;
}

input#valorFiat {
  width: 241px;
}


/* media queries  */



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


@media(max-width:991px){

    html{
      font-size: 55%;
    }
  
    header{
      padding:2rem;
    }
  
    section{
      padding:2rem;
    }
    
  
  }
  
  @media(max-width:768px){
  
    #menu-bar{
      display: flex;
      float: right;
    }
  
    header .navbar{
      position: absolute;
      top:100%; left: 0; right:0;
      background: #f7f7f7;
      border-top: .1rem solid rgba(0,0,0,.1);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  
    header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  
    header .navbar a{
      margin: 1.5rem;
      padding:1.5rem;
      display: block;
      border:.2rem solid rgba(0,0,0,.1);
      border-left:.5rem solid var(--red);
      background:#fff;
    }
  
    .login_btn{
    font-size: 50%;
  }
  .image{
    display: none;
  }
  .footer{
    display: none;
  }
  }
  
  @media(max-width:450px){
  
    html{
      font-size: 100%;
    }.image{
      display: none;
    }
    .footer{
      display: none;
    }
}

/*@media screen and (min-width: 500px) and (max-width: 800px)*/
/*obrigatoriamente abrir um apos mexer no css
    npm run dev 
no terminal
*/